#Importación de librerías

In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import cross_val_score, StratifiedKFold, train_test_split
!pip install kaggle
!pip install optuna xgboost

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.6.15)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)
Requirement already satisfied: optuna in /usr/local/lib/python3.11/dist-packages (4.4.0)
Requirement already satisfied: xgboost in /usr/local/lib/python3.11/dist-packages (2.1.4)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from optuna) (1.16.2)
Requirement already satisfied: colorlog in /usr/local/lib/python3.11/dist-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from optuna) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.11/dist-packages (from optuna) (2.0.41)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from optuna) (4.67.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.11/dist-packages (from optuna) (6.0.2)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.11/dist-packages (from xgboost) (2.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from xgboost) (1.15.3)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic>=1.5.0->optuna) (1.1.3)
Requirement already satisfied: typing-extensions>=4.12 in /usr/local/lib/python3.11/dist-packages (from alembic>=1.5.0->optuna) (4.14.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.2.3)

In [60]:
import optuna

# Carga de los datos

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle competitions download -c udea-ai-4-eng-20251-pruebas-saber-pro-colombia

Downloading udea-ai-4-eng-20251-pruebas-saber-pro-colombia.zip to /content
  0% 0.00/29.9M [00:00<?, ?B/s]
100% 29.9M/29.9M [00:00<00:00, 1.85GB/s]

In [4]:
!unzip -l udea-ai-4-eng-20251-pruebas-saber-pro-colombia

Archive:  udea-ai-4-eng-20251-pruebas-saber-pro-colombia.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
  4716673  2025-03-25 16:54   submission_example.csv
 59185250  2025-03-25 16:54   test.csv
143732449  2025-03-25 16:54   train.csv
---------                     -------
207634372                     3 files

In [5]:
!unzip udea-ai-4-eng-20251-pruebas-saber-pro-colombia

Archive:  udea-ai-4-eng-20251-pruebas-saber-pro-colombia.zip
  inflating: submission_example.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
!ls -lash *.csv

4.5M -rw-r--r-- 1 root root 4.5M Mar 25 16:54 submission_example.csv
 57M -rw-r--r-- 1 root root  57M Mar 25 16:54 test.csv
138M -rw-r--r-- 1 root root 138M Mar 25 16:54 train.csv

# Exploración

In [37]:
dtr = pd.read_csv('train.csv')

In [38]:
dtr.shape

(692500, 21)

In [39]:
dtr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              692500 non-null  int64
 1   PERIODO                         692500 non-null  int64
 2   ESTU_PRGM_ACADEMICO             692500 non-null  object
 3   ESTU_PRGM_DEPARTAMENTO          692500 non-null  object
 4   ESTU_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   ESTU_HORASSEMANATRABAJA         661643 non-null  object
 6   FAMI_ESTRATOVIVIENDA            660363 non-null  object
 7   FAMI_TIENEINTERNET              665871 non-null  object
 8   FAMI_EDUCACIONPADRE             669322 non-null  object
 9   FAMI_TIENELAVADORA              652727 non-null  object
 10  FAMI_TIENEAUTOMOVIL             648877 non-null  object
 11  ESTU_PRIVADO_LIBERTAD           692500 non-null  object
 12  ESTU_PAGOMATRICULAPROPIO        686002 non-null  object
 13  FAMI_TIENECOMPUTADOR            654397 non-null  object
 14  FAMI_TIENEINTERNET.1            665871 non-null  object
 15  FAMI_EDUCACIONMADRE             668836 non-null  object
 16  RENDIMIENTO_GLOBAL              692500 non-null  object
 17  coef_1                          692500 non-null  float64
 18  coef_2                          692500 non-null  float64
 19  coef_3                          692500 non-null  float64
 20  coef_4                          692500 non-null  float64
dtypes: float64(4), int64(2), object(15)
memory usage: 111.0+ MB

In [40]:
dtr.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_TIENELAVADORA,...,ESTU_PRIVADO_LIBERTAD,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET.1,FAMI_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,coef_1,coef_2,coef_3,coef_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

In [41]:
for i in dtr.columns:
    print ("%20s"%i, np.sum(dtr[i].isna()))

                  ID 0
             PERIODO 0
 ESTU_PRGM_ACADEMICO 0
ESTU_PRGM_DEPARTAMENTO 0
ESTU_VALORMATRICULAUNIVERSIDAD 6287
ESTU_HORASSEMANATRABAJA 30857
FAMI_ESTRATOVIVIENDA 32137
  FAMI_TIENEINTERNET 26629
 FAMI_EDUCACIONPADRE 23178
  FAMI_TIENELAVADORA 39773
 FAMI_TIENEAUTOMOVIL 43623
ESTU_PRIVADO_LIBERTAD 0
ESTU_PAGOMATRICULAPROPIO 6498
FAMI_TIENECOMPUTADOR 38103
FAMI_TIENEINTERNET.1 26629
 FAMI_EDUCACIONMADRE 23664
  RENDIMIENTO_GLOBAL 0
              coef_1 0
              coef_2 0
              coef_3 0
              coef_4 0

In [42]:
dtr.ESTU_HORASSEMANATRABAJA.value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [43]:
dtr.RENDIMIENTO_GLOBAL.value_counts()

RENDIMIENTO_GLOBAL
alto          175619
bajo          172987
medio-bajo    172275
medio-alto    171619
Name: count, dtype: int64

In [44]:
dtr.ESTU_PRIVADO_LIBERTAD.value_counts()

ESTU_PRIVADO_LIBERTAD
N    692466
S        34
Name: count, dtype: int64

# Preprocesado

In [45]:
dtr.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_TIENELAVADORA,...,ESTU_PRIVADO_LIBERTAD,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET.1,FAMI_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,coef_1,coef_2,coef_3,coef_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

**Analizamos valores faltantes y observamos los datos de algunas variables**

In [16]:
for i in dtr.columns:
    print ("%20s"%i, np.sum(dtr[i].isna()))

                  ID 0
             PERIODO 0
 ESTU_PRGM_ACADEMICO 0
ESTU_PRGM_DEPARTAMENTO 0
ESTU_VALORMATRICULAUNIVERSIDAD 6287
ESTU_HORASSEMANATRABAJA 30857
FAMI_ESTRATOVIVIENDA 32137
  FAMI_TIENEINTERNET 26629
 FAMI_EDUCACIONPADRE 23178
  FAMI_TIENELAVADORA 39773
 FAMI_TIENEAUTOMOVIL 43623
ESTU_PRIVADO_LIBERTAD 0
ESTU_PAGOMATRICULAPROPIO 6498
FAMI_TIENECOMPUTADOR 38103
FAMI_TIENEINTERNET.1 26629
 FAMI_EDUCACIONMADRE 23664
  RENDIMIENTO_GLOBAL 0
              coef_1 0
              coef_2 0
              coef_3 0
              coef_4 0

In [17]:
dtr.FAMI_EDUCACIONMADRE.value_counts()

FAMI_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Ninguno                                  14483
No sabe                                   3017
No Aplica                                 1918
Name: count, dtype: int64

In [18]:
dtr.FAMI_ESTRATOVIVIENDA.value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

In [19]:
dtr.ESTU_HORASSEMANATRABAJA.value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [20]:
dtr.ESTU_VALORMATRICULAUNIVERSIDAD.value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Menos de 500 mil                             80263
Entre 500 mil y menos de 1 millón            78704
Entre 4 millones y menos de 5.5 millones     69736
Más de 7 millones                            68014
Entre 5.5 millones y menos de 7 millones     38490
No pagó matrícula                            19528
Name: count, dtype: int64

## Función de preprocesado

Se eliminan columnas poco relevantes y se usa la codificación ordinal para columnas de tipo objeto

In [46]:
def preprocesar_datos(df, es_entrenamiento=True, mapeo_target=None, encoder=None):
  df = df.copy()

  columnas_a_eliminar = [
        'FAMI_TIENEINTERNET.1',
        'ESTU_PRIVADO_LIBERTAD',
        'FAMI_TIENELAVADORA',
        'FAMI_TIENEAUTOMOVIL',
        'PERIODO'
  ]

  for col in columnas_a_eliminar:
      if col in df.columns:
          del df[col]

  # Imputar valores nulos con moda
  for col in df.select_dtypes(include='object').columns:
      df[col].fillna(df[col].mode()[0], inplace=True)

  # Imputar valores nulos numéricos si es necesario
  for col in df.select_dtypes(include=['float64', 'int64']).columns:
      df[col].fillna(df[col].median(), inplace=True)

  # Codificación ordinal para educación
  educacion_orden = {
      'Ninguno': 0,
      'Primaria incompleta': 1,
      'Primaria completa': 2,
      'Secundaria (Bachillerato) incompleta': 3,
      'Secundaria (Bachillerato) completa': 4,
      'Técnica o tecnológica incompleta': 5,
      'Técnica o tecnológica completa': 6,
      'Educación profesional incompleta': 7,
      'Educación profesional completa': 8,
      'Postgrado': 9,
      'No sabe': -1,
      'No aplica': -2
  }

  for col in ['FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE']:
    if col in df.columns:
        df[col] = df[col].map(educacion_orden)

  # Codificación ordinal para estrato
  estrato_map = {
      'Sin Estrato': 0,
      'Estrato 1': 1,
      'Estrato 2': 2,
      'Estrato 3': 3,
      'Estrato 4': 4,
      'Estrato 5': 5,
      'Estrato 6': 6
  }
  if 'FAMI_ESTRATOVIVIENDA' in df.columns:
    df['FAMI_ESTRATOVIVIENDA'] = df['FAMI_ESTRATOVIVIENDA'].map(estrato_map)

  # Codificación ordinal para horas de trabajo
  horas_map = {
      '0': 0,
      'Menos de 10 horas': 1,
      'Entre 11 y 20 horas': 2,
      'Entre 21 y 30 horas': 3,
      'Más de 30 horas': 4
  }
  if 'ESTU_HORASSEMANATRABAJA' in df.columns:
    df['ESTU_HORASSEMANATRABAJA'] = df['ESTU_HORASSEMANATRABAJA'].map(horas_map)

  # Codificación ordinal para matrícula
  matricula_map = {
      'No pagó matrícula': 0,
      'Menos de 500 mil': 1,
      'Entre 500 mil y menos de 1 millón': 2,
      'Entre 1 millón y menos de 2.5 millones': 3,
      'Entre 2.5 millones y menos de 4 millones': 4,
      'Entre 4 millones y menos de 5.5 millones': 5,
      'Entre 5.5 millones y menos de 7 millones': 6,
      'Más de 7 millones': 7
  }
  if 'ESTU_VALORMATRICULAUNIVERSIDAD' in df.columns:
    df['ESTU_VALORMATRICULAUNIVERSIDAD'] = df['ESTU_VALORMATRICULAUNIVERSIDAD'].map(matricula_map)

  # Codificación binaria para Si/No
  bin_cols = [col for col in df.columns if df[col].nunique() == 2 and df[col].dtype == 'object']
  for col in bin_cols:
    df[col] = df[col].map({'Si': 1, 'No': 0, 'S': 1, 'N': 0})

  # Codificación ordinal para el resto de categóricas usando OrdinalEncoder
  categ_cols = df.select_dtypes(include='object').columns.tolist()
  if 'RENDIMIENTO_GLOBAL' in categ_cols:
    categ_cols.remove('RENDIMIENTO_GLOBAL')
  if es_entrenamiento:
    encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
    df[categ_cols] = encoder.fit_transform(df[categ_cols])
  else:
    df[categ_cols] = encoder.transform(df[categ_cols])

  # Codificar la variable objetivo si es entrenamiento
  if es_entrenamiento and 'RENDIMIENTO_GLOBAL' in df.columns:
    mapeo_target = {'bajo': 0, 'medio-bajo': 1, 'medio-alto': 2, 'alto': 3}
    df['RENDIMIENTO_GLOBAL'] = df['RENDIMIENTO_GLOBAL'].map(mapeo_target)

  return df, mapeo_target, encoder

In [47]:
dtr_proc, mapeo_target, encoder = preprocesar_datos(dtr, es_entrenamiento=True)

/tmp/ipython-input-46-2469281481.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipython-input-46-2469281481.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

## Separación

In [48]:
X = dtr_proc.drop('RENDIMIENTO_GLOBAL', axis=1)
y = dtr_proc['RENDIMIENTO_GLOBAL']

## Carga y Preprocesado del archivo test

In [49]:
dts = pd.read_csv('test.csv')

In [50]:
dts.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_TIENELAVADORA,FAMI_TIENEAUTOMOVIL,ESTU_PRIVADO_LIBERTAD,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET.1,FAMI_EDUCACIONMADRE,coef_1,coef_2,coef_3,coef_4
0,550236,20183,TRABAJO SOCIAL,BOLIVAR,Menos de 500 mil,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica completa,Si,No,N,Si,Si,Si,Primaria completa,0.328,0.219,0.317,0.247
1,98545,20203,ADMINISTRACION COMERCIAL Y DE MERCADEO,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Si,No,N,No,Si,Si,Técnica o tecnológica completa,0.227,0.283,0.296,0.324
2,499179,20212,INGENIERIA MECATRONICA,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,0,Estrato 3,Si,Secundaria (Bachillerato) incompleta,Si,No,N,No,Si,Si,Secundaria (Bachillerato) completa,0.285,0.228,0.294,0.247
3,782980,20195,CONTADURIA PUBLICA,SUCRE,Entre 1 millón y menos de 2.5 millones,Entre 21 y 30 horas,Estrato 1,No,Primaria incompleta,Si,No,N,No,No,No,Primaria incompleta,0.160,0.408,0.217,0.294
4,785185,20212,ADMINISTRACION DE EMPRESAS,ATLANTICO,Entre 2.5 millones y menos de 4 millones,Entre 11 y 20 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Si,No,N,No,Si,Si,Secundaria (Bachillerato) completa,0.209,0.283,0.306,0.286

Se utiliza la misma función con los parámetros que guardamos cuando la aplicamos en el archivo train

In [51]:
dts_proc, _, _ = preprocesar_datos(dts, es_entrenamiento=False, mapeo_target=mapeo_target, encoder=encoder)

/tmp/ipython-input-46-2469281481.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipython-input-46-2469281481.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [52]:
X_test = dts_proc.drop(columns=['ID'])
X_test = X_test.reindex(columns=X.columns, fill_value=0)

In [53]:
X_test.head()

,ID,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_EDUCACIONMADRE,coef_1,coef_2,coef_3,coef_4
0,0,943.0,5.0,1,1,3,1,6.0,1,1,2.0,0.328,0.219,0.317,0.247
1,0,12.0,1.0,4,3,2,1,4.0,0,1,6.0,0.227,0.283,0.296,0.324
2,0,456.0,4.0,3,0,3,1,3.0,0,1,4.0,0.285,0.228,0.294,0.247
3,0,229.0,27.0,3,3,1,0,1.0,0,0,1.0,0.160,0.408,0.217,0.294
4,0,14.0,3.0,4,2,2,1,4.0,0,1,4.0,0.209,0.283,0.306,0.286

# Solución final

## Optuna y validación cruzada

Se utiliza una función de optimización con optuna para identificar los parámetros más adecuados para el modelo escogido

In [54]:
# Función de optimización
def objective(trial):
  params = {
      'objective': 'multi:softmax',
      'num_class': 4,
      'n_estimators': trial.suggest_int('n_estimators', 100, 300),
      'max_depth': trial.suggest_int('max_depth', 3, 10),
      'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.3),
      'subsample': trial.suggest_float('subsample', 0.5, 1.0),
      'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
      'gamma': trial.suggest_float('gamma', 0, 5),
      'reg_alpha': trial.suggest_float('reg_alpha', 0.0, 1.0),
      'reg_lambda': trial.suggest_float('reg_lambda', 0.0, 1.0),
      'use_label_encoder': False,
      'eval_metric': 'mlogloss',
      'random_state': 42
  }

  pipeline = Pipeline([
      ("imputer", SimpleImputer(strategy="most_frequent")),
      ("clf", XGBClassifier(**params))
  ])

  # Validación cruzada estratificada
  cv = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)
  scores = cross_val_score(pipeline, X, y, cv=cv, scoring='accuracy', n_jobs=-1)

  return scores.mean()

# Ejecutar la optimización
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=30)

print("Mejores parámetros encontrados:")
print(study.best_params)

[I 2025-07-04 02:12:43,898] A new study created in memory with name: no-name-3f4a6298-7c7b-4755-94dd-f76f7c602c44
[I 2025-07-04 02:14:06,385] Trial 0 finished with value: 0.4261602877657273 and parameters: {'n_estimators': 180, 'max_depth': 6, 'learning_rate': 0.12221599540493804, 'subsample': 0.5156695777809273, 'colsample_bytree': 0.7346266918580602, 'gamma': 2.132342976804625, 'reg_alpha': 0.3949495024304449, 'reg_lambda': 0.7607967182412069}. Best is trial 0 with value: 0.4261602877657273.
[I 2025-07-04 02:15:18,489] Trial 1 finished with value: 0.4265342947065209 and parameters: {'n_estimators': 218, 'max_depth': 6, 'learning_rate': 0.25609456525712576, 'subsample': 0.612712569017664, 'colsample_bytree': 0.883558658304195, 'gamma': 2.5324586149502943, 'reg_alpha': 0.6318961023036124, 'reg_lambda': 0.7130493026840999}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:16:35,995] Trial 2 finished with value: 0.40612996197591755 and parameters: {'n_estimators': 174, 'max_depth': 5, 'learning_rate': 0.02063370716471833, 'subsample': 0.9517913249087584, 'colsample_bytree': 0.7277282391160085, 'gamma': 4.344701638754708, 'reg_alpha': 0.8546866803266792, 'reg_lambda': 0.03471704450367552}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:19:37,851] Trial 3 finished with value: 0.4264534280136147 and parameters: {'n_estimators': 295, 'max_depth': 10, 'learning_rate': 0.0806528444037127, 'subsample': 0.6948942506301137, 'colsample_bytree': 0.8948981434003085, 'gamma': 1.3925283465398026, 'reg_alpha': 0.2995123845428611, 'reg_lambda': 0.16173251610846107}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:20:39,571] Trial 4 finished with value: 0.4161602878949715 and parameters: {'n_estimators': 164, 'max_depth': 4, 'learning_rate': 0.07943065990776974, 'subsample': 0.9986145341327435, 'colsample_bytree': 0.5792958489949007, 'gamma': 0.15049531734170063, 'reg_alpha': 0.08783338406765595, 'reg_lambda': 0.7249577487706268}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:21:38,204] Trial 5 finished with value: 0.42042599237074096 and parameters: {'n_estimators': 180, 'max_depth': 3, 'learning_rate': 0.22830207842855219, 'subsample': 0.7365213999898331, 'colsample_bytree': 0.8276021107362913, 'gamma': 0.3023430353538914, 'reg_alpha': 0.37685301796510695, 'reg_lambda': 0.6295811109139171}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:22:35,410] Trial 6 finished with value: 0.4239783387534796 and parameters: {'n_estimators': 180, 'max_depth': 4, 'learning_rate': 0.2213213548477168, 'subsample': 0.9408711532470709, 'colsample_bytree': 0.6291047392004538, 'gamma': 1.4780397085055537, 'reg_alpha': 0.8245215687896922, 'reg_lambda': 0.9363637237227667}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:25:27,203] Trial 7 finished with value: 0.4260288798026359 and parameters: {'n_estimators': 284, 'max_depth': 8, 'learning_rate': 0.10065061091648456, 'subsample': 0.5082629878628496, 'colsample_bytree': 0.7722586661056994, 'gamma': 1.014323145716416, 'reg_alpha': 0.3327017147375194, 'reg_lambda': 0.8718925167712861}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:27:16,804] Trial 8 finished with value: 0.4232808644029724 and parameters: {'n_estimators': 164, 'max_depth': 8, 'learning_rate': 0.040464115373798674, 'subsample': 0.7538604770811232, 'colsample_bytree': 0.8887134863676904, 'gamma': 0.5047370555914249, 'reg_alpha': 0.35657016211179915, 'reg_lambda': 0.13588723877513775}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:28:31,493] Trial 9 finished with value: 0.42620505226624344 and parameters: {'n_estimators': 178, 'max_depth': 6, 'learning_rate': 0.1572731798299763, 'subsample': 0.5067141542184058, 'colsample_bytree': 0.6569238038833337, 'gamma': 1.9113915965338157, 'reg_alpha': 0.9542946895871184, 'reg_lambda': 0.16840111259395574}. Best is trial 1 with value: 0.4265342947065209.
[I 2025-07-04 02:29:41,600] Trial 10 finished with value: 0.4269703959688873 and parameters: {'n_estimators': 232, 'max_depth': 8, 'learning_rate': 0.29552158655263616, 'subsample': 0.6512225981410515, 'colsample_bytree': 0.9831432972427563, 'gamma': 3.3366600982496806, 'reg_alpha': 0.6529297621990966, 'reg_lambda': 0.45163718890652516}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:30:52,652] Trial 11 finished with value: 0.426385558023389 and parameters: {'n_estimators': 237, 'max_depth': 8, 'learning_rate': 0.29833207051640287, 'subsample': 0.6363579543179505, 'colsample_bytree': 0.9863459346303123, 'gamma': 3.262145658742398, 'reg_alpha': 0.6372701978976858, 'reg_lambda': 0.4489625125354828}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:31:36,974] Trial 12 finished with value: 0.42620938647938017 and parameters: {'n_estimators': 115, 'max_depth': 10, 'learning_rate': 0.29612739014567196, 'subsample': 0.617084831960183, 'colsample_bytree': 0.9981245988978793, 'gamma': 3.1288470013350347, 'reg_alpha': 0.6234315250555219, 'reg_lambda': 0.4311336694407615}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:32:44,572] Trial 13 finished with value: 0.42669313937594255 and parameters: {'n_estimators': 232, 'max_depth': 7, 'learning_rate': 0.24308966812649802, 'subsample': 0.8076270173638722, 'colsample_bytree': 0.928844288659714, 'gamma': 3.0619531753379006, 'reg_alpha': 0.6533546701043089, 'reg_lambda': 0.5475961602937076}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:33:59,750] Trial 14 finished with value: 0.4266093855118221 and parameters: {'n_estimators': 257, 'max_depth': 9, 'learning_rate': 0.18849681969164495, 'subsample': 0.8298885380655641, 'colsample_bytree': 0.9425059515789393, 'gamma': 4.531645064148024, 'reg_alpha': 0.7465114858744074, 'reg_lambda': 0.34021821204635283}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:35:10,954] Trial 15 finished with value: 0.42640721872951054 and parameters: {'n_estimators': 254, 'max_depth': 7, 'learning_rate': 0.2570456579256937, 'subsample': 0.8420790801501346, 'colsample_bytree': 0.5130209493800808, 'gamma': 3.3567194674892455, 'reg_alpha': 0.5512474644941374, 'reg_lambda': 0.5616321616640998}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:36:12,029] Trial 16 finished with value: 0.42591046787911285 and parameters: {'n_estimators': 214, 'max_depth': 7, 'learning_rate': 0.26132854882277384, 'subsample': 0.8294597031134212, 'colsample_bytree': 0.8155884596508034, 'gamma': 3.915509595974262, 'reg_alpha': 0.4922705148461974, 'reg_lambda': 0.3253975324893215}. Best is trial 10 with value: 0.4269703959688873.
[I 2025-07-04 02:37:34,995] Trial 17 finished with value: 0.42784404101887374 and parameters: {'n_estimators': 263, 'max_depth': 9, 'learning_rate': 0.1923512553885675, 'subsample': 0.7586324345358724, 'colsample_bytree': 0.9407670051013003, 'gamma': 2.684947073399112, 'reg_alpha': 0.9987609049784412, 'reg_lambda': 0.5455435171912121}. Best is trial 17 with value: 0.42784404101887374.
[I 2025-07-04 02:38:56,576] Trial 18 finished with value: 0.42696461935561264 and parameters: {'n_estimators': 270, 'max_depth': 9, 'learning_rate': 0.1879639333152353, 'subsample': 0.6917142517068157, 'colsample_bytree': 0.9512684594464076, 'gamma': 3.853933128726964, 'reg_alpha': 0.9807005145079624, 'reg_lambda': 0.3155214755133192}. Best is trial 17 with value: 0.42784404101887374.
[I 2025-07-04 02:39:50,733] Trial 19 finished with value: 0.42785848232998047 and parameters: {'n_estimators': 131, 'max_depth': 9, 'learning_rate': 0.19296858987571203, 'subsample': 0.6676729145054376, 'colsample_bytree': 0.8539267409270841, 'gamma': 2.6396817905308927, 'reg_alpha': 0.16069310913037577, 'reg_lambda': 0.4267417621608706}. Best is trial 19 with value: 0.42785848232998047.
[I 2025-07-04 02:40:52,505] Trial 20 finished with value: 0.4271306847087388 and parameters: {'n_estimators': 132, 'max_depth': 9, 'learning_rate': 0.16100991138020257, 'subsample': 0.5775601963829519, 'colsample_bytree': 0.8301695960525586, 'gamma': 2.52081934234152, 'reg_alpha': 0.1337702909328729, 'reg_lambda': 0.6394996636605492}. Best is trial 19 with value: 0.42785848232998047.
[I 2025-07-04 02:41:49,578] Trial 21 finished with value: 0.4270469299062521 and parameters: {'n_estimators': 123, 'max_depth': 9, 'learning_rate': 0.16032537759533352, 'subsample': 0.5778812201910519, 'colsample_bytree': 0.8108485905171495, 'gamma': 2.642498585216321, 'reg_alpha': 0.08182176260129528, 'reg_lambda': 0.6288740217131318}. Best is trial 19 with value: 0.42785848232998047.
[I 2025-07-04 02:42:54,558] Trial 22 finished with value: 0.4262079410326802 and parameters: {'n_estimators': 139, 'max_depth': 9, 'learning_rate': 0.1946203104492747, 'subsample': 0.5609058374940059, 'colsample_bytree': 0.8539904450860262, 'gamma': 2.099687911250072, 'reg_alpha': 0.21502394490775217, 'reg_lambda': 0.8129701251263763}. Best is trial 19 with value: 0.42785848232998047.
[I 2025-07-04 02:43:57,182] Trial 23 finished with value: 0.42818483719241823 and parameters: {'n_estimators': 142, 'max_depth': 10, 'learning_rate': 0.1406453823811373, 'subsample': 0.7654783609802285, 'colsample_bytree': 0.7608345122998695, 'gamma': 2.752604116361411, 'reg_alpha': 0.01968186331337718, 'reg_lambda': 0.6402559688896912}. Best is trial 23 with value: 0.42818483719241823.
[I 2025-07-04 02:45:05,074] Trial 24 finished with value: 0.4288332119659756 and parameters: {'n_estimators': 148, 'max_depth': 10, 'learning_rate': 0.12245409160530857, 'subsample': 0.7605803250402521, 'colsample_bytree': 0.6995139278266078, 'gamma': 2.744428980880517, 'reg_alpha': 0.011364428964914821, 'reg_lambda': 0.3750152916752453}. Best is trial 24 with value: 0.4288332119659756.
[I 2025-07-04 02:46:07,265] Trial 25 finished with value: 0.42858339302398313 and parameters: {'n_estimators': 142, 'max_depth': 10, 'learning_rate': 0.13187655529358278, 'subsample': 0.699590303653787, 'colsample_bytree': 0.6780049872400999, 'gamma': 3.9370305056692168, 'reg_alpha': 0.004810446701631693, 'reg_lambda': 0.3684593007111151}. Best is trial 24 with value: 0.4288332119659756.
[I 2025-07-04 02:46:55,180] Trial 26 finished with value: 0.42766353760138776 and parameters: {'n_estimators': 102, 'max_depth': 10, 'learning_rate': 0.1289214728788254, 'subsample': 0.8786547397227928, 'colsample_bytree': 0.6913243344572146, 'gamma': 4.866829966440835, 'reg_alpha': 0.06142363794113147, 'reg_lambda': 0.24871000516900357}. Best is trial 24 with value: 0.4288332119659756.
[I 2025-07-04 02:47:56,203] Trial 27 finished with value: 0.4282180501053979 and parameters: {'n_estimators': 149, 'max_depth': 10, 'learning_rate': 0.13249612773061875, 'subsample': 0.7310504553309966, 'colsample_bytree': 0.6886463902808765, 'gamma': 3.9686688794027933, 'reg_alpha': 0.02444285727234901, 'reg_lambda': 0.27089319571038856}. Best is trial 24 with value: 0.4288332119659756.
[I 2025-07-04 02:49:04,815] Trial 28 finished with value: 0.4283638976404908 and parameters: {'n_estimators': 149, 'max_depth': 10, 'learning_rate': 0.10390300125182145, 'subsample': 0.716816523850912, 'colsample_bytree': 0.5926770881570677, 'gamma': 3.810172726692724, 'reg_alpha': 0.2134088430401872, 'reg_lambda': 0.21861559110951018}. Best is trial 24 with value: 0.4288332119659756.
[I 2025-07-04 02:50:24,632] Trial 29 finished with value: 0.42901082940084434 and parameters: {'n_estimators': 196, 'max_depth': 10, 'learning_rate': 0.1051462909804775, 'subsample': 0.7933562054246958, 'colsample_bytree': 0.585108364198306, 'gamma': 3.655861930473499, 'reg_alpha': 0.24364727695766483, 'reg_lambda': 0.09697504417918712}. Best is trial 29 with value: 0.42901082940084434.

Mejores parámetros encontrados:
{'n_estimators': 196, 'max_depth': 10, 'learning_rate': 0.1051462909804775, 'subsample': 0.7933562054246958, 'colsample_bytree': 0.585108364198306, 'gamma': 3.655861930473499, 'reg_alpha': 0.24364727695766483, 'reg_lambda': 0.09697504417918712}

## Entrenar modelo y realizar predicciones

In [55]:
# Crear pipeline con mejores parámetros encontrados por Optuna
best_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("clf", XGBClassifier(
        **study.best_params,
        objective='multi:softmax',
        num_class=4,
        use_label_encoder=False,
        eval_metric='mlogloss',
        random_state=42
    ))
])

# Entrenar pipeline con TODO el conjunto de entrenamiento
best_pipeline.fit(X, y)

# Predecir
y_preds = best_pipeline.predict(X_test)

# Revertir codificación
reverse_map = {v: k for k, v in mapeo_target.items()}
y_preds_labels = pd.Series(y_preds).map(reverse_map)

/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [02:50:41] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

## Generar archivo de solución para Kaggle

In [56]:
submission = pd.DataFrame({
    'ID': dts['ID'],
    'RENDIMIENTO_GLOBAL': y_preds_labels
})
submission.head()

       ID RENDIMIENTO_GLOBAL
0  550236               bajo
1   98545         medio-bajo
2  499179               alto
3  782980               bajo
4  785185               bajo

In [57]:
submission.to_csv('submission9.csv', index=False)

In [58]:
!head submission9.csv

ID,RENDIMIENTO_GLOBAL
550236,bajo
98545,medio-bajo
499179,alto
782980,bajo
785185,bajo
58495,bajo
705444,alto
557548,alto
519909,bajo